In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
titanic = pd.concat([train, test], axis=0, ignore_index=True)
titanic.shape

(1309, 12)

In [4]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
titanic.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [6]:
titanic['Survived'] = titanic['Survived'].map({0.0: 0, 1.0: 1})
titanic['Survived'].head()

0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
Name: Survived, dtype: float64

In [7]:
titanic['Name_tag'] = titanic['Name'].apply(lambda x:x.split(',')[1].split('.')[0].strip())
titanic['Name_tag'].head()

0      Mr
1     Mrs
2    Miss
3     Mrs
4      Mr
Name: Name_tag, dtype: object

In [8]:
titanic.Name_tag.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Countess',
       'Jonkheer', 'Dona'], dtype=object)

In [9]:
titanic.Name_tag.value_counts()

Mr              757
Miss            260
Mrs             197
Master           61
Dr                8
Rev               8
Col               4
Major             2
Mlle              2
Ms                2
Dona              1
Lady              1
Sir               1
Capt              1
the Countess      1
Jonkheer          1
Don               1
Mme               1
Name: Name_tag, dtype: int64

In [10]:
pd.pivot_table(titanic, index='Name_tag', columns='Survived', values='Name', aggfunc='count').sort_values(by=1, ascending=False)

Survived        0.0    1.0
Name_tag
Miss           55.0  127.0
Mrs            26.0   99.0
Mr            436.0   81.0
Master         17.0   23.0
Dr              4.0    3.0
Mlle            NaN    2.0
Col             1.0    1.0
Lady            NaN    1.0
Major           1.0    1.0
Mme             NaN    1.0
Ms              NaN    1.0
Sir             NaN    1.0
the Countess    NaN    1.0
Capt            1.0    NaN
Don             1.0    NaN
Jonkheer        1.0    NaN
Rev             6.0    NaN

In [11]:
titanic['Is_married'] = 0
titanic['Is_married'].loc[titanic['Name_tag'] == 'Mrs'] = 1

C:\Users\Hp\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [12]:
titanic['Name_tag_pro'] = titanic['Name_tag'].copy()

print(titanic['Name_tag_pro'].unique())
titanic['Name_tag_pro'].replace(to_replace=['Don', 'Rev', 'Dr', 'Mme', 'Ms', 'Major', 'Lady', 'Sir', 'Mlle', 'Col',
                                                           'Capt', 'the Countess', 'Jonkheer', 'Dona'], value='Other',inplace=True)
print(titanic['Name_tag_pro'].unique())

['Mr' 'Mrs' 'Miss' 'Master' 'Don' 'Rev' 'Dr' 'Mme' 'Ms' 'Major' 'Lady'
 'Sir' 'Mlle' 'Col' 'Capt' 'the Countess' 'Jonkheer' 'Dona']
['Mr' 'Mrs' 'Miss' 'Master' 'Other']

In [13]:
titanic[titanic['PassengerId'] == 444]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_tag,Is_married,Name_tag_pro
443,444,1.0,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0,NaN,S,Ms,0,Other

In [14]:
titanic['Sex'] = titanic['Sex'].map({'male':1, 'female':0})

In [15]:
titanic['Age'].fillna(titanic['Age'].mean(), inplace=True)
titanic['Age'] = titanic['Age'].astype(int)
bins = [0, 20, 40, 60, 80]
labels = ['young', 'young_adults', 'adults', 'old_adults']
titanic['Age_groups'] = pd.cut(titanic['Age'], bins=bins, labels=labels, include_lowest=True)
titanic.groupby('Age_groups').size()

Age_groups
young           249
young_adults    836
adults          192
old_adults       32
dtype: int64

In [16]:
titanic['Family'] = titanic['SibSp'] + titanic['Parch']

In [17]:
titanic['Is_alone'] = titanic['Family'] == 0

In [18]:
titanic['Is_alone'] = titanic['Is_alone'].astype(int)
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_tag,Is_married,Name_tag_pro,Age_groups,Family,Is_alone
0,1,0.0,3,"Braund, Mr. Owen Harris",1,22,1,0,A/5 21171,7.2500,NaN,S,Mr,0,Mr,young_adults,1,0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38,1,0,PC 17599,71.2833,C85,C,Mrs,1,Mrs,young_adults,1,0
2,3,1.0,3,"Heikkinen, Miss. Laina",0,26,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,0,Miss,young_adults,0,1

In [19]:
bins = [0,1,3,6,11]
labels = ['alone', 'duo', 'small', 'large']
titanic['Family_group'] = pd.cut(titanic['Family'], bins=bins, labels=labels, include_lowest=True, right=False)

In [20]:
titanic['Ticket_number'] = titanic['Ticket'].apply(lambda x: x.split(' ')[-1])

In [21]:
titanic[titanic['Ticket_number'] == 'LINE']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Name_tag,Is_married,Name_tag_pro,Age_groups,Family,Is_alone,Family_group,Ticket_number
179,180,0.0,3,"Leonard, Mr. Lionel",1,36,0,0,LINE,0.0,NaN,S,Mr,0,Mr,young_adults,0,1,alone,LINE
271,272,1.0,3,"Tornquist, Mr. William Henry",1,25,0,0,LINE,0.0,NaN,S,Mr,0,Mr,young_adults,0,1,alone,LINE
302,303,0.0,3,"Johnson, Mr. William Cahoone Jr",1,19,0,0,LINE,0.0,NaN,S,Mr,0,Mr,young,0,1,alone,LINE
597,598,0.0,3,"Johnson, Mr. Alfred",1,49,0,0,LINE,0.0,NaN,S,Mr,0,Mr,adults,0,1,alone,LINE

In [22]:
titanic['Fare'].fillna(titanic['Fare'].mean(), inplace=True)

bins = [0, 8, 16, 30, 513]
labels = ['low', 'middle', 'high', 'top']
titanic['Fare_groups'] = pd.cut(titanic['Fare'], bins=bins, labels=labels, include_lowest=True)
titanic.groupby('Fare_groups').size()

Fare_groups
low       360
middle    356
high      249
top       344
dtype: int64

In [23]:
pd.pivot_table(titanic, index='Fare_groups', columns='Survived', values='Name', aggfunc='count')

Survived     0.0  1.0
Fare_groups
low          189   52
middle       168   76
high          94   78
top           98  136

In [24]:
titanic['Embarked'].fillna('S', inplace=True)

In [25]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,Name_tag,Is_married,Name_tag_pro,Age_groups,Family,Is_alone,Family_group,Ticket_number,Fare_groups
0,1,0.0,3,"Braund, Mr. Owen Harris",1,22,1,0,A/5 21171,7.2500,...,S,Mr,0,Mr,young_adults,1,0,duo,21171,low
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38,1,0,PC 17599,71.2833,...,C,Mrs,1,Mrs,young_adults,1,0,duo,17599,top
2,3,1.0,3,"Heikkinen, Miss. Laina",0,26,0,0,STON/O2. 3101282,7.9250,...,S,Miss,0,Miss,young_adults,0,1,alone,3101282,low
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35,1,0,113803,53.1000,...,S,Mrs,1,Mrs,young_adults,1,0,duo,113803,top
4,5,0.0,3,"Allen, Mr. William Henry",1,35,0,0,373450,8.0500,...,S,Mr,0,Mr,young_adults,0,1,alone,373450,middle

In [26]:
titanic.isnull().sum()

PassengerId         0
Survived          418
Pclass              0
Name                0
Sex                 0
Age                 0
SibSp               0
Parch               0
Ticket              0
Fare                0
Cabin            1014
Embarked            0
Name_tag            0
Is_married          0
Name_tag_pro        0
Age_groups          0
Family              0
Is_alone            0
Family_group        0
Ticket_number       0
Fare_groups         0
dtype: int64

In [27]:
titanic.nunique()

PassengerId      1309
Survived            2
Pclass              3
Name             1307
Sex                 2
Age                73
SibSp               7
Parch               8
Ticket            929
Fare              282
Cabin             186
Embarked            3
Name_tag           18
Is_married          2
Name_tag_pro        5
Age_groups          4
Family              9
Is_alone            2
Family_group        4
Ticket_number     924
Fare_groups         4
dtype: int64

In [28]:
new = titanic.copy()
new.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,Name_tag,Is_married,Name_tag_pro,Age_groups,Family,Is_alone,Family_group,Ticket_number,Fare_groups
0,1,0.0,3,"Braund, Mr. Owen Harris",1,22,1,0,A/5 21171,7.2500,...,S,Mr,0,Mr,young_adults,1,0,duo,21171,low
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38,1,0,PC 17599,71.2833,...,C,Mrs,1,Mrs,young_adults,1,0,duo,17599,top
2,3,1.0,3,"Heikkinen, Miss. Laina",0,26,0,0,STON/O2. 3101282,7.9250,...,S,Miss,0,Miss,young_adults,0,1,alone,3101282,low
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35,1,0,113803,53.1000,...,S,Mrs,1,Mrs,young_adults,1,0,duo,113803,top
4,5,0.0,3,"Allen, Mr. William Henry",1,35,0,0,373450,8.0500,...,S,Mr,0,Mr,young_adults,0,1,alone,373450,middle

In [29]:
new.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Name_tag',
       'Is_married', 'Name_tag_pro', 'Age_groups', 'Family', 'Is_alone',
       'Family_group', 'Ticket_number', 'Fare_groups'],
      dtype='object')

In [30]:
drop_cols = ['PassengerId', 'Name', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Name_tag', 'Family', 'Ticket_number']
new.drop(columns = drop_cols, inplace=True)
new.columns

Index(['Survived', 'Pclass', 'Sex', 'Embarked', 'Is_married', 'Name_tag_pro',
       'Age_groups', 'Is_alone', 'Family_group', 'Fare_groups'],
      dtype='object')

In [31]:
new_train = new.loc[:890]
new_test = new.loc[891:]
print(new_train.shape)
print(new_test.shape)

(891, 10)
(418, 10)

In [32]:
new_train['Survived'] = new_train['Survived'].map({0.0: 0, 1.0: 1})

<ipython-input-32-2c1540ebe1ce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_train['Survived'] = new_train['Survived'].map({0.0: 0, 1.0: 1})

In [33]:
new_test.drop(columns='Survived', inplace=True)
new_test.shape

C:\Users\Hp\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

(418, 9)

In [34]:
new_train.head()

,Survived,Pclass,Sex,Embarked,Is_married,Name_tag_pro,Age_groups,Is_alone,Family_group,Fare_groups
0,0,3,1,S,0,Mr,young_adults,0,duo,low
1,1,1,0,C,1,Mrs,young_adults,0,duo,top
2,1,3,0,S,0,Miss,young_adults,1,alone,low
3,1,1,0,S,1,Mrs,young_adults,0,duo,top
4,0,3,1,S,0,Mr,young_adults,1,alone,middle

In [35]:
train_dummies = pd.get_dummies(new_train, columns = ['Pclass', 'Sex', 'Embarked', 'Is_married', 'Name_tag_pro', 'Age_groups', 'Is_alone', 'Family_group', 'Fare_groups'])

In [36]:
train_dummies

,Survived,Pclass_1,Pclass_2,Pclass_3,Sex_0,Sex_1,Embarked_C,Embarked_Q,Embarked_S,Is_married_0,...,Is_alone_0,Is_alone_1,Family_group_alone,Family_group_duo,Family_group_small,Family_group_large,Fare_groups_low,Fare_groups_middle,Fare_groups_high,Fare_groups_top
0,0,0,0,1,0,1,0,0,1,1,...,1,0,0,1,0,0,1,0,0,0
1,1,1,0,0,1,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,1
2,1,0,0,1,1,0,0,0,1,1,...,0,1,1,0,0,0,1,0,0,0
3,1,1,0,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,1
4,0,0,0,1,0,1,0,0,1,1,...,0,1,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,0,1,0,0,1,0,0,1,1,...,0,1,1,0,0,0,0,1,0,0
887,1,1,0,0,1,0,0,0,1,1,...,0,1,1,0,0,0,0,0,1,0
888,0,0,0,1,1,0,0,0,1,1,...,1,0,0,0,1,0,0,0,1,0
889,1,1,0,0,0,1,1,0,0,1,...,0,1,1,0,0,0,0,0,1,0
890,0,0,0,1,0,1,0,1,0,1,...,0,1,1,0,0,0,1,0,0,0

In [37]:
train_dummies.shape

(891, 30)

In [38]:
X = train_dummies.iloc[:, 1:]
y = train_dummies.iloc[:, 0]
print(X.shape)
print(y.shape)

(891, 29)
(891,)

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [40]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
logreg.score(X_train, y_train), logreg.score(X_test, y_test)

(0.8323353293413174, 0.820627802690583)

In [41]:
from sklearn.neighbors import KNeighborsClassifier
logreg = KNeighborsClassifier(n_neighbors=3)
logreg.fit(X_train, y_train)
logreg.score(X_train, y_train), logreg.score(X_test, y_test)

(0.8383233532934131, 0.8116591928251121)

In [42]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train)
clf.score(X_train, y_train), clf.score(X_test, y_test)

(0.8023952095808383, 0.7713004484304933)

In [43]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier()
clf.fit(X_train, y_train)
clf.score(X_train, y_train), clf.score(X_test, y_test)

(0.8517964071856288, 0.8295964125560538)

In [44]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)
clf.score(X_train, y_train), clf.score(X_test, y_test)

(0.8787425149700598, 0.7937219730941704)

In [45]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train, y_train)
clf.score(X_train, y_train), clf.score(X_test, y_test)

(0.8787425149700598, 0.8071748878923767)

In [47]:
help(GradientBoostingClassifier)

Help on class GradientBoostingClassifier in module sklearn.ensemble._gb:

class GradientBoostingClassifier(sklearn.base.ClassifierMixin, BaseGradientBoosting)
 |  GradientBoostingClassifier(*, loss='deviance', learning_rate=0.1, n_estimators=100, subsample=1.0, criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, min_impurity_split=None, init=None, random_state=None, max_features=None, verbose=0, max_leaf_nodes=None, warm_start=False, validation_fraction=0.1, n_iter_no_change=None, tol=0.0001, ccp_alpha=0.0)
 |
 |  Gradient Boosting for classification.
 |
 |  GB builds an additive model in a
 |  forward stage-wise fashion; it allows for the optimization of
 |  arbitrary differentiable loss functions. In each stage ``n_classes_``
 |  regression trees are fit on the negative gradient of the
 |  binomial or multinomial deviance loss function. Binary classification
 |  is a special case where only a single regression tree is induced.
 |
 |  Read more in the :ref:`User Guide <gradient_boosting>`.
 |
 |  Parameters
 |  ----------
 |  loss : {'deviance', 'exponential'}, default='deviance'
 |      The loss function to be optimized. 'deviance' refers to
 |      deviance (= logistic regression) for classification
 |      with probabilistic outputs. For loss 'exponential' gradient
 |      boosting recovers the AdaBoost algorithm.
 |
 |  learning_rate : float, default=0.1
 |      Learning rate shrinks the contribution of each tree by `learning_rate`.
 |      There is a trade-off between learning_rate and n_estimators.
 |
 |  n_estimators : int, default=100
 |      The number of boosting stages to perform. Gradient boosting
 |      is fairly robust to over-fitting so a large number usually
 |      results in better performance.
 |
 |  subsample : float, default=1.0
 |      The fraction of samples to be used for fitting the individual base
 |      learners. If smaller than 1.0 this results in Stochastic Gradient
 |      Boosting. `subsample` interacts with the parameter `n_estimators`.
 |      Choosing `subsample < 1.0` leads to a reduction of variance
 |      and an increase in bias.
 |
 |  criterion : {'friedman_mse', 'mse', 'mae'}, default='friedman_mse'
 |      The function to measure the quality of a split. Supported criteria
 |      are 'friedman_mse' for the mean squared error with improvement
 |      score by Friedman, 'mse' for mean squared error, and 'mae' for
 |      the mean absolute error. The default value of 'friedman_mse' is
 |      generally the best as it can provide a better approximation in
 |      some cases.
 |
 |      .. versionadded:: 0.18
 |      .. deprecated:: 0.24
 |          `criterion='mae'` is deprecated and will be removed in version
 |          1.1 (renaming of 0.26). Use `criterion='friedman_mse'` or `'mse'`
 |          instead, as trees should use a least-square criterion in
 |          Gradient Boosting.
 |
 |  min_samples_split : int or float, default=2
 |      The minimum number of samples required to split an internal node:
 |
 |      - If int, then consider `min_samples_split` as the minimum number.
 |      - If float, then `min_samples_split` is a fraction and
 |        `ceil(min_samples_split * n_samples)` are the minimum
 |        number of samples for each split.
 |
 |      .. versionchanged:: 0.18
 |         Added float values for fractions.
 |
 |  min_samples_leaf : int or float, default=1
 |      The minimum number of samples required to be at a leaf node.
 |      A split point at any depth will only be considered if it leaves at
 |      least ``min_samples_leaf`` training samples in each of the left and
 |      right branches.  This may have the effect of smoothing the model,
 |      especially in regression.
 |
 |      - If int, then consider `min_samples_leaf` as the minimum number.
 |      - If float, then `min_samples_leaf` is a fraction and
 |        `ceil(min_samples_leaf * n_samples)` are the minimum
 |        number of samples for each node.
 |
 |      .. versionchanged:: 0.18
 |         Added float values for fractions.
 |
 |  min_weight_fraction_leaf : float, default=0.0
 |      The minimum weighted fraction of the sum total of weights (of all
 |      the input samples) required to be at a leaf node. Samples have
 |      equal weight when sample_weight is not provided.
 |
 |  max_depth : int, default=3
 |      The maximum depth of the individual regression estimators. The maximum
 |      depth limits the number of nodes in the tree. Tune this parameter
 |      for best performance; the best value depends on the interaction
 |      of the input variables.
 |
 |  min_impurity_decrease : float, default=0.0
 |      A node will be split if this split induces a decrease of the impurity
 |      greater than or equal to this value.
 |
 |      The weighted impurity decrease equation is the following::
 |
 |          N_t / N * (impurity - N_t_R / N_t * right_impurity
 |                              - N_t_L / N_t * left_impurity)
 |
 |      where ``N`` is the total number of samples, ``N_t`` is the number of
 |      samples at the current node, ``N_t_L`` is the number of samples in the
 |      left child, and ``N_t_R`` is the number of samples in the right child.
 |
 |      ``N``, ``N_t``, ``N_t_R`` and ``N_t_L`` all refer to the weighted sum,
 |      if ``sample_weight`` is passed.
 |
 |      .. versionadded:: 0.19
 |
 |  min_impurity_split : float, default=None
 |      Threshold for early stopping in tree growth. A node will split
 |      if its impurity is above the threshold, otherwise it is a leaf.
 |
 |      .. deprecated:: 0.19
 |         ``min_impurity_split`` has been deprecated in favor of
 |         ``min_impurity_decrease`` in 0.19. The default value of
 |         ``min_impurity_split`` has changed from 1e-7 to 0 in 0.23 and it
 |         will be removed in 1.0 (renaming of 0.25).
 |         Use ``min_impurity_decrease`` instead.
 |
 |  init : estimator or 'zero', default=None
 |      An estimator object that is used to compute the initial predictions.
 |      ``init`` has to provide :meth:`fit` and :meth:`predict_proba`. If
 |      'zero', the initial raw predictions are set to zero. By default, a
 |      ``DummyEstimator`` predicting the classes priors is used.
 |
 |  random_state : int, RandomState instance or None, default=None
 |      Controls the random seed given to each Tree estimator at each
 |      boosting iteration.
 |      In addition, it controls the random permutation of the features at
 |      each split (see Notes for more details).
 |      It also controls the random spliting of the training data to obtain a
 |      validation set if `n_iter_no_change` is not None.
 |      Pass an int for reproducible output across multiple function calls.
 |      See :term:`Glossary <random_state>`.
 |
 |  max_features : {'auto', 'sqrt', 'log2'}, int or float, default=None
 |      The number of features to consider when looking for the best split:
 |
 |      - If int, then consider `max_features` features at each split.
 |      - If float, then `max_features` is a fraction and
 |        `int(max_features * n_features)` features are considered at each
 |        split.
 |      - If 'auto', then `max_features=sqrt(n_features)`.
 |      - If 'sqrt', then `max_features=sqrt(n_features)`.
 |      - If 'log2', then `max_features=log2(n_features)`.
 |      - If None, then `max_features=n_features`.
 |
 |      Choosing `max_features < n_features` leads to a reduction of variance
 |      and an increase in bias.
 |
 |      Note: the search for a split does not stop until at least one
 |      valid partition of the node samples is found, even if it requires to
 |      effectively inspect more than ``max_features`` features.
 |
 |  verbose : int, default=0
 |      Enable verbose output. If 1 then it prints progress and performance
 |      once in a while (the more trees the lower the frequency). If greater
 |      than 1 then it prints progress and performance for every tree.
 |
 |  max_leaf_nodes : int, default=None
 |      Grow trees with ``max_leaf_nodes`` in best-first fashion.
 |      Best nodes are defined as relative reduction in impurity.
 |      If None then unlimited number of leaf nodes.
 |
 |  warm_start : bool, default=False
 |      When set to ``True``, reuse the solution of the previous call to fit
 |      and add more estimators to the ensemble, otherwise, just erase the
 |      previous solution. See :term:`the Glossary <warm_start>`.
 |
 |  validation_fraction : float, default=0.1
 |      The proportion of training data to set aside as validation set for
 |      early stopping. Must be between 0 and 1.
 |      Only used if ``n_iter_no_change`` is set to an integer.
 |
 |      .. versionadded:: 0.20
 |
 |  n_iter_no_change : int, default=None
 |      ``n_iter_no_change`` is used to decide if early stopping will be used
 |      to terminate training when validation score is not improving. By
 |      default it is set to None to disable early stopping. If set to a
 |      number, it will set aside ``validation_fraction`` size of the training
 |      data as validation and terminate training when validation score is not
 |      improving in all of the previous ``n_iter_no_change`` numbers of
 |      iterations. The split is stratified.
 |
 |      .. versionadded:: 0.20
 |
 |  tol : float, default=1e-4
 |      Tolerance for the early stopping. When the loss is not improving
 |      by at least tol for ``n_iter_no_change`` iterations (if set to a
 |      number), the training stops.
 |
 |      .. versionadded:: 0.20
 |
 |  ccp_alpha : non-negative float, default=0.0
 |      Complexity parameter used for Minimal Cost-Complexity Pruning. The
 |      subtree with the largest cost complexity that is smaller than
 |      ``ccp_alpha`` will be chosen. By default, no pruning is performed. See
 |      :ref:`minimal_cost_complexity_pruning` for details.
 |
 |      .. versionadded:: 0.22
 |
 |  Attributes
 |  ----------
 |  n_estimators_ : int
 |      The number of estimators as selected by early stopping (if
 |      ``n_iter_no_change`` is specified). Otherwise it is set to
 |      ``n_estimators``.
 |
 |      .. versionadded:: 0.20
 |
 |  feature_importances_ : ndarray of shape (n_features,)
 |      The impurity-based feature importances.
 |      The higher, the more important the feature.
 |      The importance of a feature is computed as the (normalized)
 |      total reduction of the criterion brought by that feature.  It is also
 |      known as the Gini importance.
 |
 |      Warning: impurity-based feature importances can be misleading for
 |      high cardinality features (many unique values). See
 |      :func:`sklearn.inspection.permutation_importance` as an alternative.
 |
 |  oob_improvement_ : ndarray of shape (n_estimators,)
 |      The improvement in loss (= deviance) on the out-of-bag samples
 |      relative to the previous iteration.
 |      ``oob_improvement_[0]`` is the improvement in
 |      loss of the first stage over the ``init`` estimator.
 |      Only available if ``subsample < 1.0``
 |
 |  train_score_ : ndarray of shape (n_estimators,)
 |      The i-th score ``train_score_[i]`` is the deviance (= loss) of the
 |      model at iteration ``i`` on the in-bag sample.
 |      If ``subsample == 1`` this is the deviance on the training data.
 |
 |  loss_ : LossFunction
 |      The concrete ``LossFunction`` object.
 |
 |  init_ : estimator
 |      The estimator that provides the initial predictions.
 |      Set via the ``init`` argument or ``loss.init_estimator``.
 |
 |  estimators_ : ndarray of DecisionTreeRegressor of shape (n_estimators, ``loss_.K``)
 |      The collection of fitted sub-estimators. ``loss_.K`` is 1 for binary
 |      classification, otherwise n_classes.
 |
 |  classes_ : ndarray of shape (n_classes,)
 |      The classes labels.
 |
 |  n_features_ : int
 |      The number of data features.
 |
 |  n_classes_ : int
 |      The number of classes.
 |
 |  max_features_ : int
 |      The inferred value of max_features.
 |
 |  See Also
 |  --------
 |  HistGradientBoostingClassifier : Histogram-based Gradient Boosting
 |      Classification Tree.
 |  sklearn.tree.DecisionTreeClassifier : A decision tree classifier.
 |  RandomForestClassifier : A meta-estimator that fits a number of decision
 |      tree classifiers on various sub-samples of the dataset and uses
 |      averaging to improve the predictive accuracy and control over-fitting.
 |  AdaBoostClassifier : A meta-estimator that begins by fitting a classifier
 |      on the original dataset and then fits additional copies of the
 |      classifier on the same dataset where the weights of incorrectly
 |      classified instances are adjusted such that subsequent classifiers
 |      focus more on difficult cases.
 |
 |  Notes
 |  -----
 |  The features are always randomly permuted at each split. Therefore,
 |  the best found split may vary, even with the same training data and
 |  ``max_features=n_features``, if the improvement of the criterion is
 |  identical for several splits enumerated during the search of the best
 |  split. To obtain a deterministic behaviour during fitting,
 |  ``random_state`` has to be fixed.
 |
 |  References
 |  ----------
 |  J. Friedman, Greedy Function Approximation: A Gradient Boosting
 |  Machine, The Annals of Statistics, Vol. 29, No. 5, 2001.
 |
 |  J. Friedman, Stochastic Gradient Boosting, 1999
 |
 |  T. Hastie, R. Tibshirani and J. Friedman.
 |  Elements of Statistical Learning Ed. 2, Springer, 2009.
 |
 |  Examples
 |  --------
 |  The following example shows how to fit a gradient boosting classifier with
 |  100 decision stumps as weak learners.
 |
 |  >>> from sklearn.datasets import make_hastie_10_2
 |  >>> from sklearn.ensemble import GradientBoostingClassifier
 |
 |  >>> X, y = make_hastie_10_2(random_state=0)
 |  >>> X_train, X_test = X[:2000], X[2000:]
 |  >>> y_train, y_test = y[:2000], y[2000:]
 |
 |  >>> clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,
 |  ...     max_depth=1, random_state=0).fit(X_train, y_train)
 |  >>> clf.score(X_test, y_test)
 |  0.913...
 |
 |  Method resolution order:
 |      GradientBoostingClassifier
 |      sklearn.base.ClassifierMixin
 |      BaseGradientBoosting
 |      sklearn.ensemble._base.BaseEnsemble
 |      sklearn.base.MetaEstimatorMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, loss='deviance', learning_rate=0.1, n_estimators=100, subsample=1.0, criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, min_impurity_split=None, init=None, random_state=None, max_features=None, verbose=0, max_leaf_nodes=None, warm_start=False, validation_fraction=0.1, n_iter_no_change=None, tol=0.0001, ccp_alpha=0.0)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  decision_function(self, X)
 |      Compute the decision function of ``X``.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      score : ndarray of shape (n_samples, n_classes) or (n_samples,)
 |          The decision function of the input samples, which corresponds to
 |          the raw values predicted from the trees of the ensemble . The
 |          order of the classes corresponds to that in the attribute
 |          :term:`classes_`. Regression and binary classification produce an
 |          array of shape (n_samples,).
 |
 |  predict(self, X)
 |      Predict class for X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      y : ndarray of shape (n_samples,)
 |          The predicted values.
 |
 |  predict_log_proba(self, X)
 |      Predict class log-probabilities for X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      Raises
 |      ------
 |      AttributeError
 |          If the ``loss`` does not support probabilities.
 |
 |      Returns
 |      -------
 |      p : ndarray of shape (n_samples, n_classes)
 |          The class log-probabilities of the input samples. The order of the
 |          classes corresponds to that in the attribute :term:`classes_`.
 |
 |  predict_proba(self, X)
 |      Predict class probabilities for X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      Raises
 |      ------
 |      AttributeError
 |          If the ``loss`` does not support probabilities.
 |
 |      Returns
 |      -------
 |      p : ndarray of shape (n_samples, n_classes)
 |          The class probabilities of the input samples. The order of the
 |          classes corresponds to that in the attribute :term:`classes_`.
 |
 |  staged_decision_function(self, X)
 |      Compute decision function of ``X`` for each iteration.
 |
 |      This method allows monitoring (i.e. determine error on testing set)
 |      after each stage.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      score : generator of ndarray of shape (n_samples, k)
 |          The decision function of the input samples, which corresponds to
 |          the raw values predicted from the trees of the ensemble . The
 |          classes corresponds to that in the attribute :term:`classes_`.
 |          Regression and binary classification are special cases with
 |          ``k == 1``, otherwise ``k==n_classes``.
 |
 |  staged_predict(self, X)
 |      Predict class at each stage for X.
 |
 |      This method allows monitoring (i.e. determine error on testing set)
 |      after each stage.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      y : generator of ndarray of shape (n_samples,)
 |          The predicted value of the input samples.
 |
 |  staged_predict_proba(self, X)
 |      Predict class probabilities at each stage for X.
 |
 |      This method allows monitoring (i.e. determine error on testing set)
 |      after each stage.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      y : generator of ndarray of shape (n_samples,)
 |          The predicted value of the input samples.
 |
 |  ----------------------------------------------------------------------